@media (min-width: 1024px) {
  .ngefadefoto {
    background-image: linear-gradient(to right, rgba(31, 41, 55, 0), transparent);
    opacity: 1;
    mask-image: linear-gradient(to right, transparent, rgba(31, 41, 55, 1));
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(31, 41, 55, 1));
  }
}

@media (max-width: 1023px) {
  .ngefadefoto {
    background-image: linear-gradient(to bottom, rgba(31, 41, 55, 0), transparent);
    opacity: 1;
    mask-image: linear-gradient(to bottom, transparent, rgba(31, 41, 55, 1));
    -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(31, 41, 55, 1));
  }
}

body{
  background-image: url(./foto/background.png), linear-gradient(to left, rgba(31, 41, 55, 0), transparent);
  z-index: 0;
}